<body id="homePage">
    <div class="container" id="homeContainer">
        <h3 id="homeText">
            Capture your internal employee information, view and edit any employee record.
        </h3>

        <div style="margin-top:10%">
            <button id="homeButton" onclick="location.href='home/NewEmployee'" type="button" class="btn btn-primary" style="margin-top: 20px;">Add Employee</button>
        </div>
    </div>
</body>